h1 
{
    margin: 0px;
    background-color:darkorchid;
    text-align: center;
    font-family: Arial;
    color: white;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: darkorchid;
    color: white;
  }

h3 
{
    font-family: Arial;
}

label 
{
    font-family: Arial;
}

text
{
    font-family: Arial;
}

body
{
    background-color:rgb(#fff, #fff, #fff);
    margin:0px;
}

/* Create two equal columns that floats next to each other */
.float-container{
    padding: 10px;
    height: 2100px;
}
.float-child{
    width: 45%;
    float: left;
    padding: 10px;
} 


        

